p {
    color: violet;
    font-weight: bold;
}

header {
  margin:0;
  padding:0 !important;
  
}
#clue{
  color: black;
  font-size: 5%;
  font-weight: lighter;
}
h1 {
  font-size: x-large;
  color: white;
  padding-top: 2em;
  padding-bottom: .2em;
  padding-left: .4em;
  margin: 0;
  background: navy url(../images/cityimage.jpg) repeat-y ;
  background-size: 100% 100%;

}
h1 #home{
  font-size: x-large;
  color: white;
  text-decoration: none;
  
}
h1 #home:hover {
  text-decoration: underline;
  color: violet;
}
h2 {
  padding-top:.5em;
  color: blueviolet;
  font-size: 130%;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}


ul {
	list-style-type:none;
}

nav ul {
	list-style-type:none;
  padding: 0;
}

nav ul li  {
  padding: 10px 20px;
}




nav ul li a:link, nav ul li a:visited {
  color: black;
  text-decoration: none;
}
  
nav ul li a:hover  {
  text-decoration: underline overline;
}

nav ul li a:active {
    color: black;
    text-decoration: none;
}




p a:link, a:visited {
   color: blueviolet;
}

p a:hover {
   text-decoration:none;
}


 #tagline {
    background: #bed8f3 url(../images/stars.jpg) repeat-y right;
    color: white;
    font-style: italic;
    font-family: Georgia, Times, serif;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
    font-weight: normal;
  }




body, html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
} 

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color:lightgray;
  
  
  line-height: 125%;
  height: auto;
}

#container {
    width: 100%;
    margin: 0 auto;
    background: url(../images/nicebackground.jpg) no-repeat 100% 50%;
    background-size: cover;
    
}
img.feature {
  flex: 1;
  margin-left: 5%;
  border: purple solid 2px;

}
#content {
	display: flex;
  flex: auto;
}

nav {
	flex: 1;
	height: auto;
  background:  url(../images/Background.png) no-repeat ;
  background-size:100% 100%;
}


main {
  flex:5;
  padding-left:1em;
}

table th, table td {
  padding: .3em;
  border:solid black 1px;
}

table {
  border-collapse: collapse;
  border:solid black 1px;
  width:95%;
}

table th {
  font-size: medium;
  text-align: left;
  background: blueviolet;
  color: #ffffff;
  border-color:#000066;
  padding: 0 .5em;
}

table td {
  font-size: small;
  color: blueviolet;
}

table caption {
  color: #000066;
  font-size: small;
  font-weight: bold;
  text-align: left;
  padding-bottom: .5em;
}

table tr:nth-of-type(even){
  background-color: lightgray;
}
table tr:nth-of-type(odd) {
  background-color:#B0C4DE;
}

table tr:hover {
  background: #c5e3ed;
}
#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 1rem;
}

#photos figure {
  border: 1px solid purple;
  margin: 0;
  background: url(../images/wallpaper.jpg) no-repeat center center / cover;
  flex: 0 0 250px; 
  overflow: hidden;
  position: relative;
  
}

#photos img {
  width: 100%;
  height: auto;
  display: block;
}


figcaption {
  color:navy;
  font-size: 75%;
  font-weight: bold;
  margin-top: 0;
  width: 90%;
  line-height: 1.4em;
}

figcaption span {
  font-weight: normal;
  color: gray;
}


.reveal-card {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}



.reveal-card .visible.content img,
.reveal-card .hidden.content > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}



.reveal-card .hidden.content .ui.card {
  width: 300px;
  height: 300px;
  overflow-y: auto;         
  flex-direction: column;
}



.reveal-card .ui.card .image img {
  width: auto;
  height: 100px;           
  object-fit: cover;
}
